

.media{
    padding: 10px 10px 10px 10px;
    Border:  1px solid black;
    margin: 10px;
 
}
.pagination{
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

.media-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
}